.quadro{
    margin: 5rem;
    background-color:var(--main-light-color) ;
    border-radius: 1rem;
}
.conteudo{
    display: flex;
    margin: 2.5rem;
    padding: 1rem;
}
.yellow-card{
    background-color: var(--bs-yellow);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
    height: 25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    left: 0;
    top: 0;    
    align-self: flex-end;
}