:root{
    --bs-white: #fff;
    --bs-black: #000;
    --bs-gray: #ccc;
    --main-color: #43256f;
    --main-light-color: #644491;
    --bs-yellow: #fcb12f;
    --bs-yellow-2: #ee9600;    

}
@media (min-width: 481px) and (max-width: 768px) {
}
*{
    margin: 0;
    padding: 0; 
}
main{
    min-width: 460px;
    max-width: 1000px;
    margin: auto; 
    border: solid var(--bs-yellow);  
    
}


main:hover{
    background-color:var(--main-light-color);
    transition: 1.5s;
}

.titulo-pagina-amarelo-2 {
    display: flex;
    justify-content: flex-start;  
    color:var(--bs-yellow-2);  
    cursor: pointer; 
    margin-top: 0.5em;
    margin-left: 1em; 
        
}
.titulo-pagina-amarelo-2:hover{
    color: var(--bs-gray);
       
}

.texto-page-amarelo-2{
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:2.5em;
    color:var(--bs-yellow);
    
}
/*.texto-page-amarelo-2:hover{    
    font-style: italic;
    opacity: 95%;
    color: var(--bs-gray);
}
*/


.principal{
   display: flex;  
   justify-content: space-between;
    margin-top: -15.5em;
    margin-left: -19em;   
    transition: 1.1s;
    width:1450px;
    height: auto;
    
    }
.principal02{
    display: flex;    
    margin-top: -5em;
    margin-left: -79.4em;   
    transition: 1.1s;
    width: 1450px;    
    
}

  
.fundo-amarelo{
    display:flex;
    justify-content: space-between;
    background-color:var(--bs-yellow);
    margin-left: 26.5em;
    margin-top: -17.5em;
    margin-bottom: -2em;
    border-radius: 1%;
    height:25em;
    width:22.5em;
}
/*.fundo-amarelo:hover{
    background-color: var(--main-color);
}*/

.icones-redes-sociais, li{
    display: flex;
    text-align: flex-start;
    justify-content: flex-start;
    list-style: none;
    gap: 5px;
    margin-left: .4em;  
    
}

/*.icones-redes-sociais:hover{
    cursor: pointer;
    filter: brightness(1050%);
    
}*/
.instagran:hover{
    cursor: pointer;
    filter: brightness(1050%);
}
.facebook:hover{
    cursor: pointer;
    filter: brightness(1050%);
    
}
.twiter:hover{
    cursor: pointer;
    filter: brightness(1050%);
}
.linkedin:hover{
    cursor: pointer;
    filter: brightness(1050%);
    
}
