
div .livro{
    position: absolute;
    width: 115em;
    height:auto;    
    margin-top: -23.5%;
    padding:3em;    
    left: -49.5%;
}
div .english{
    position: absolute;
    width: 100em;
    height:auto;
    margin-top: -23.5%;
    left: -15%;
}
div .imagens{
    margin-top: 0%;
    width: 35em;
    height:30em;
}


