@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

:root{
    font-size: 62.5%;
    --main-color: #43256f;
    --bs-white: #ffffff;
    --main-light-color: #644491;
    --nav-bg-color: #58378C;
    --bs-gray: #ccc;
    --bt-bg-color: #8c65c4;    
    --bs-yellow-2: #ee9600;    
}

body{
    background-color: var(--main-color);
    color: var(--bs-white);
    font-family: Arial, 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content:center ;
    align-items:center ;  
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    height: 6rem;
  
    padding: 0 2.4rem;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4rem;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--font-dark-color);
}

a:hover {
    color: var(--bs-yellow-2);
}

.container {
    margin: auto auto;
    padding: 100px;    
    background-color: var(--main-light-color);
    border-radius: 5px;    
}

h1 {
    text-align: center;
    color: var(--bs-white);
    font-size: 60px;    
}

img {
    width: 150%;
}

.content {
    display: flex;
    justify-content:;
    align-items: center;
    position: relative;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.section1 h1 {
    font-size: 60px;
}

.section1 h2 {
    font-size: 30px;
    margin-bottom: 10px;
}