:root{
    --bs-white: #fff;
    --bs-black: #000;
    --bs-gray: #ccc;
    --main-color: #43256f;
    --main-light-color: #644491;
    --bs-yellow: #fcb12f;
    --bs-yellow-2: #ee9600;
    

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-color);
    color: var(--bs-white);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--font-dark-color);
}
