body {
    font-family: Arial, sans-serif;
    background-color: #43256f;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto auto;
    padding: 0 auto;    
    background-color: #644491;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}