body{
    background-color: rgb(75, 9, 122);
}
a {  
    color: rgb(243, 231, 55);    

  }
.titulo-page{
    padding: 0.3em 1.59em;
    color: rgb(245, 202, 10);     
}
.texto-page{
    padding: 0.3em 2.5em;
    color: rgb(245, 202, 10);
    font-size: larger;
}
.principal{
    width:890px ;
    height:auto;    
    padding: 0.3em 39.8em;
    margin-top: -24%;  
}
 .icones-nav{
    float: left; 
    padding: 0.6em 11.1em;
    border-radius: 30px 30px 30px;
    background-color: rgb(29, 2, 48);  
    list-style: none;  
    margin: 0.2em  
    }
.icones-nav-li{
    margin: 0em;
    padding: 0.3em 4em;
}
.icones-redes-sociais, li{
    float: left;
    padding: 0em 1.6em; 
    color: rgb(245, 202, 10);  
    list-style: none;
    margin-top: -1.5em;
}
.index{
    border-style: groove;
    border-color: rgb(245, 202, 10) ;
}

